[submodule "include/basics-graphics-music"]
	path = include/basics-graphics-music
	url = https://github.com/yuri-panchul/basics-graphics-music
[submodule "include/ibmfonts"]
	path = include/ibmfonts
	url = https://github.com/farsil/ibmfonts
[submodule "include/ps2"]
	path = include/ps2
	url = https://github.com/freecores/ps2
